.FooterCmpcontainer {
  width: 100%;
  background-color: var(--dark-blue);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
}
.upfooterribonborder {
  position: relative;
  border: 0.3rem solid var(--main);
  width: 75%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
}
.upfooterriboncontainer {
  width: 95%;
  /* margin: 40px 40px 40px 40px; */
  height: 80%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerriboniteamcontainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footerriboniteamtext {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
  justify-content: space-around;
}
.footerriboniteamtextHeading{
    font-size: 1.4rem;
}
.footerriboniteamtextSubHeading{
    font-size: 0.9rem;
}
.fiteamhead{
    font-size: 1.3rem;
}
.fiteamline{

}
.fiteamtext{
    font-size: 1rem;
    width: 100%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fiteamtext img{
border-radius: 1rem;
width: 120px;
height: 120px;
}
.fiteam {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 50px;
}
.fiteamline {
    margin-bottom: 8px;
  width: 100px;
  height: 10px;
  border-bottom: 4px solid var(--main);
}