.SelectedProductListCmpContainer {
  width: 100%;
  margin-top: 50px;
}
.SelectedProductListCmpParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SelectedProductListCmpHeading {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SelectedProductListCmpHeadingText {
  font-size: 2rem;
}
.Line {
  width: 150px;
  height: 47px;
  border-top: 4px solid var(--main);
}
.SelectedProductListCmpMenuLink {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.SelectedProductListCmpMenuLink a {
  font-size: 1.2rem;
}
.SelectedProductListCmpMenuLink a:hover {
  font-size: 1.2rem;
  color: var(--main);
}
.Productlist {
  padding: 20px 20px 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
