.SlidercmpContainer {
  width: 100%;
  background-image: url("../../Assets/Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 2;
  height: 500px;
  display: flex;
}
.SlidercmpParent {
  display: flex;
  margin-top: 75px;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.SlidercmpImage {
  display: flex;
  width: 40%;
  background-image: url("../../Assets/Images/banner-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 50px;
}
.SlidercmpImage img {
  margin: 50px;
  width: fit-content;
}
.SlidercmpTextHeading {
  font-size: 50px;
  margin-right: 150px;
  transition: 0.5s ease-in-out;
}
.SlidercmpTextHeading:hover {
  transform: scale(1.2);
}
.Slidercmpbtn {
  margin-top: 50px;
  margin-right: 150px;
  display: inline-block;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--white);
  background: var(--main);
  line-height: 50px;
  padding: 0 40px;
  text-align: center;
  position: relative;
}
.Slidercmpbtn:hover {
  margin-top: 50px;
  margin-right: 150px;
  display: inline-block;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--white);
  background: var(--dark-blue);
  line-height: 50px;
  padding: 0 40px;
  text-align: center;
  position: relative;
}
.Slidercmpbtn::before {
  content: "";
  height: 100%;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(194, 166, 115, 0.5);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
}
.Slidercmpbtn:hover::before {
  content: "";
  height: 100%;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(194, 166, 115, 0.5);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  transform: translateX(+8px) translateY(-8px) scale(1.2);
}
.SlidercmpTextSubHeading {
  font-size: 20px;
  margin-top: 15px;
  margin-right: 170px;
  transition: 0.5s ease-in-out;
  color: var(--main);
}
.SlidercmpTextSubHeading:hover {
  transform: scale(1.2);
}
.SlidercmpText {
  display: flex;
  width: 60%;
  text-align: right;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
