.productcard {
    width: 200px;
    height: 280px;
    overflow: hidden;

}
.pimg {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.productimage1 {

  z-index: 3;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 160px;
   width: 100%;
}
.productimage1:hover {
}
.productimage2 {

  height: 160px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
  
  
}
.productimage2:hover {
  z-index: 2;
 
}
.pro .productname {
}
.price {
}
