.table-right {
  text-align: center !important;
  vertical-align: middle !important;
}
th {
  text-align: center !important;
  vertical-align: middle !important;
}
td {
  text-align: center !important;
  vertical-align: middle !important;

}
