.KommentarKomponenteContainer {
  width: 50%;
  justify-content: center;
  align-items: flex-end;
}
.ganzKommentarKomponenteContainer {
  border: solid #dddd 1px;
  border-radius: 10px;
  width: 70%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.KommentarKomponenteSchwache {
  color: red;
  width: 25%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 75px;
  justify-content: flex-start;
  border: solid #dddd 1px;
  border-radius: 10px;
}
.KommentarKomponenteStark {
  color: green;
  width: 25%;
  margin-top: 10px;
  border: solid #dddd 1px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 75px;
  justify-content: flex-start;
}
