.KommentarKomponenteContainer {
  width: 50%;
  justify-content: center;
  align-items: flex-end;
}
.ganzKommentarKomponenteContainer {
  border: solid #dddd 1px;
  border-radius: 10px;
  width: 70%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.KommentarKomponenteSchwache {
  color: red;
  width: 25%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
   margin-bottom: 10px;
  min-height: 75px;
  justify-content: flex-start;
 
}
.KommentarKomponenteStark {
  color: green;
  width: 25%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  min-height: 100px;
  justify-content: flex-start;
}
.LikeKommentarbutton{
    border: 0px;
    margin:0px;
    transform: scale(0.8);
    transition: ease-in-out 0.3s;
}
.LikeKommentarbutton:hover{
    transform: scale(1);
}
.WieAbneigungContainer{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    margin-left: 5px;
  
}