.CategorylistCmpContainer {
  width: 100%;
  margin-top: 50px;
}
.CategorylistCmpParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CategorylistCmpHeading {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CategorylistCmpHeadingText {
  font-size: 2rem;
}
.Line {
  width: 150px;
  height: 47px;
  border-top: 4px solid var(--main);
}
.card3 {
  width: 80%;
  height: 400px;
  background: rgb(255, 255, 255);
  background-image: url("../../Assets/Images/cat3.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-clip: border-box;
  background-size: contain;
  box-shadow: -2px 0 90px rgb(0 0 0 / 15%);
  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease-in-out 0.3s;
  border: rgb(250, 250, 250) 0.1em solid;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

:is(.card1, .card2, .card3, .card4, .card5):hover {
  border: var(--main) 0.1em solid;
  transform: scale(1.05);
  color: var(--main);
  cursor: pointer;
}

.card2 {
  width: 65%;
  height: 190px;
  background: rgb(255, 255, 255);
  background-image: url("../../Assets/Images/cat2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-clip: border-box;
  background-size: contain;
  box-shadow: -2px 0 90px rgb(0 0 0 / 15%);

  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease-in-out 0.3s;
  border: rgb(250, 250, 250) 0.1em solid;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.card1 {
  width: 45%;
  height: 190px;
  background: rgb(255, 255, 255);
  background-image: url("../../Assets/Images/cat1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-clip: border-box;
  background-size: contain;
  box-shadow: -2px 0 90px rgb(0 0 0 / 15%);
  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease-in-out 0.3s;
  border: rgb(250, 250, 250) 0.1em solid;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.card4 {
  width: 70%;
  height: 190px;
  background: rgb(255, 255, 255);
  background-image: url("../../Assets/Images/cat4.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-clip: border-box;
  background-size: contain;
  box-shadow: -2px 0 90px rgb(0 0 0 / 15%);
  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease-in-out 0.3s;
  border: rgb(250, 250, 250) 0.1em solid;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.card5 {
  width: 30%;
  height: 190px;
  background: rgb(255, 255, 255);
  background-image: url("../../Assets/Images/cat5.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-clip: border-box;
  background-size: contain;
  box-shadow: -2px 0 90px rgb(0 0 0 / 15%);
  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease-in-out 0.3s;
  border: rgb(250, 250, 250) 0.1em solid;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.CategorylistCmpCardContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.CategorylistCmpCardContainerR {
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CategorylistCmpCardContainerL {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.CategorylistCmpCardContainerLTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}
.CategorylistCmpCardContainerLBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.CategorylistCmpCardContainer{
  flex-direction: column-reverse;
  margin:0px;
  width: 100%;
}
.CategorylistCmpCardContainerL{
  width: 100%;
}
.CategorylistCmpCardContainerR{
  width: 100%;
}
.card1 {
  margin: 10px;
}
.card2 {
  margin: 10px;
}
.card3 {
  margin: 10px;
}
.card4 {
  margin: 10px;
}
.card5 {
  margin: 10px;
}
}
