.BlogpostCmpcontainer {
  width: 250px;
  display: flex;
  height: 300px;
  overflow: hidden;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: -2px 0 90px rgb(0 0 0 / 15%);
  transition: border 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease-in-out 0.3s;
  border: 0.2rem solid var(--main);
  position: relative;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.BlogpostCmpcontainer:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.image {
  width: 100%;
  height: 200px;
  position: relative;
}
.image img {
  width: 100%;
  height: 100%;
}
.date {
  width: 100%;
  position: relative;
  align-self: flex-end;
  text-align: right;

  height: 30px;
  padding-right: 5px;
}
.title {
  width: 100%;
  position: relative;
  align-self: flex-end;
  text-align: right;
  font-size: 1.2rem;
  padding-right: 10px;
  height: 30px;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-end;
  position: relative;
  top: -45px;
  background-color: white;

}
.btn {
  position: relative;
  top:-20px;
  margin-bottom: 10px;
  /* margin-right: 150px; */
  display: inline-block;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--white);
  background: var(--main);
  line-height: 30px;
  /* padding: 0 40px; */
  text-align: center;
  position: relative;
  align-self: center;
  width: 60%;
}
.btn:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--white);
  background: var(--dark-blue);
  line-height: 30px;
 width: 60%;
  text-align: center;
  position: relative;
}
.btn::before {
  content: "";
  height: 100%;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(194, 166, 115, 0.5);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
}
.btn:hover::before {
  content: "";
  height: 100%;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(194, 166, 115, 0.5);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  transform: translateX(+8px) translateY(-8px) scale(1.2);
}
