.TestomonialcardcmpContainer {
  width: 250px;
  height: 150px;
  background: white;
  border-radius: 40px 0 40px 0;
  border: 0.2rem solid var(--main);
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.TestomonialcardcmpContainer {
  width: 250px;
  height: 150px;
  background: white;
  border-radius: 40px 0 40px 0;
  border: 0.2rem solid var(--main);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.Dummycard {
  width: 250px;
  height: 150px;
  background-image: linear-gradient(163deg, var(--yellow) 0%, var(--main) 100%);
  border-radius: 40px 0 40px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.TestomonialcardcmpContainer:hover {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  border-radius: 40px 0 40px 0;
}
.Dummycard:hover {
  -webkit-box-shadow: 0px 0px 30px 1px rgba(255, 255, 0, 0.3);
  box-shadow: 0px 0px 30px 1px rgba(255, 255, 0, 0.2);
}
.Testomonialcardcmpdatecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  width: 100%;
}
.Testomonialcardcmpdate {
  font-size: 0.7rem;
  color: gray;
  width: 100%;
}
.Testomonialcardcmpproduct {
  font-size: 0.8rem;
  width: 100%;
}
.Testomonialcardcmpathur {
  font-size: 1rem;
  margin-right: 5px;
}
.Testomonialcardcmptext {
  font-size: 0.8rem;
  margin-right: 5px;
}
.rate i,
.rate i:hover ~ i {
  color: #fc0;
  text-shadow: #fc0 0 0 20px;
  transition: color 200ms, text-shadow 200ms;
  transition-delay: 0;
  font-size: 1.7rem;
}
.Testomonialcardcmpstars{
      align-self: center;
  width: 100%;
}
